#canvas-wrapper{
    margin: 0;
    display: flex;
    top: 0px;
    left: 0px;
    width: calc(100% - 336px);
    background-color: darkgray;
    height: 100%;
    overflow: scroll;
}
#canvas-holder{
    position: relative;
    top:  0px;
    left: 0px;
    margin-bottom: auto;
}
#canvas_id{
    margin: 40px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}
#canvas_id:focus{
    outline: none;
}


