#canvas-wrapper{
    margin: 0;
    display: flex;
    top: 0px;
    left: 0px;
    width: calc(100% - 336px);
    background-color: darkgray;
    height: 100%;
    overflow: scroll;
}
#canvas-holder{
    position: relative;
    top:  0px;
    left: 0px;
    margin-bottom: auto;
}
#canvas_id{
    margin: 100px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    border: solid black  4px;
}
#canvas_id:focus{
    outline: none;
}

