.loader {
    border: 16px solid rgb(175, 171, 171);
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
#loading_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #464444;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100000;
    color: whitesmoke;
    font-size: 5rem;
    font-family: sans-serif;
    user-select: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}