
#Right-Box-Wrapper{
    z-index: 1000;
    display: flex;
    position: fixed;
    min-width: 336px;
    width: 336px;
    height: 100vh !important;
    right: 0px;
    top: 0px;
    border: 1px solid rgba(0,0,0,0.6);
    background-color: #3b3b3b;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.45);
}

#Input-Wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
}
#mwrap{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#switch_menu{
    height: 30px;
    display: flex;
    flex-direction: row;
    box-sizing:border-box;

}
.switch_but{
    height: 30px;
    width: 50%;
    background-size: cover;
    border: 3px solid black;
}
.switch_but:hover{
    background-color: #747474;
}
#image_menu_button{
    background-image: url(/VTT/images/60817.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box

}
#img_submenu{
    display: none;
    height: 100%;
    margin: 5px;
    font-family: sans-serif;
    color: whitesmoke;
    box-sizing: border-box;
}
#home_button{
    background-image: url(/VTT/images/17840-200.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box
}
#image_list{
    height: calc(100% - 100px);
    border: 1px solid rgba(0,0,0,0.45);
    margin-top: 6px;
    margin-bottom: 6px;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 6px;
    background-color: rgba(255,255,255,0.02);
}

#image_list::-webkit-scrollbar{
    width: 5px;
}
#image_list::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px;
}
#image_list::-webkit-scrollbar-track{
    background: rgb(85, 85, 85);
}
.image_list_element{
    display: flex;
    align-items: center;
    border: 1px  solid black;
    margin: 3px;
    height: 50px;
    user-select: none;
}
.image_list_element:hover{
    color: rgb(0, 204, 255);
    background-color: #747474;
}
.image_list_element_image{
    object-fit: contain;
    width: 50px;
    height: 50px;
    pointer-events: none;
}
.image_list_element_text{
    overflow: hidden;
    margin-left: 5px;
    pointer-events: none;
}
#message-wrapper::-webkit-scrollbar{
    width: 5px;
}
#message-wrapper::-webkit-scrollbar-thumb{
    background: black;
}
#message-wrapper::-webkit-scrollbar-track{
    background: rgb(85, 85, 85);
}
#message-wrapper{
    z-index: 50;
    height: 85%;
    width: 100%;
    box-sizing: border-box;
    background-color: #2f2f2f;
    border: 1px solid rgba(0,0,0,0.45);
    border-radius: 6px;
    padding: 8px;
    overflow: auto;
    overflow-wrap: break-word;
    box-sizing:border-box;
}

/* Upload panel - non-invasive, keeps the submit button visible */
.upload-panel{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
}
.upload-panel label{ margin-left: 4px; white-space: nowrap; }
.upload-panel input[type="file"]{
    flex: 1 1 auto; /* allow shrinking when filename is long */
    min-width: 0;   /* critical for flex children to shrink */
    max-width: 100%;
    overflow: hidden;
}
.upload-panel input[type="file"]::-webkit-file-upload-button{ cursor: pointer; }
.upload-panel input[type="button"], .upload-panel .btn{
    flex: 0 0 88px; /* fixed width for the submit button */
    width: 88px;
    white-space: nowrap;
}
.upload-panel input[type="file"]::-ms-expand{ display: none; }

#a{
    position: fixed;
    height: 100%;
    width: 10px;
    background-color: #262626;
    top: 0px;
    right: 0px;
}
#inpbox{
    background-color: #2b2b2b;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    color: whitesmoke;
    border: 1px solid rgba(0,0,0,0.45);
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 13px;
    resize: none;
    padding: 8px;
}

#inpbox::-webkit-scrollbar{
    width: 5px;
}
#inpbox::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 5px;
}
#inpbox::-webkit-scrollbar-track{
    background: rgb(85, 85, 85);
}
#inpbox:focus{
    outline: none;
}
#Chat-Wrapper{
    z-index: 50;
    height: 110px;
}
.Inputs{
    color: whitesmoke;
    padding-top: 8px;
    padding-bottom:8px;
    padding-right: 3px;
    padding-left: 3px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    font-family: sans-serif;
}
.server_message{
    color:red;
    font-weight: 1000;
    padding-top: 8px;
    padding-bottom:8px;
    padding-right: 3px;
    padding-left: 3px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    font-family: sans-serif;
}
.dice_roll{
    color: whitesmoke;
    font-weight: 750;
    padding-top: 8px;
    padding-bottom:8px;
    padding-right: 3px;
    padding-left: 3px;
    border-top:gold solid 2px;
    border-bottom: gold solid 2px;
    font-family: sans-serif;
}
body{
    margin: 0px;
}
#screen-wrap{
    z-index: 1;
}
