body{
    background-color:#444444;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}
#login_wrapper{
    background-color:#333333;
    width: 500px;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 5px 5px rgb(41, 41, 41);
}
.font_styles{
    color: whitesmoke;
    font-family: sans-serif;
}
#login_label{
    width: 100%;
    justify-content: center;
    font-size: 4rem;
    display: flex;
}
#form_wrapper{
    padding: 20px;
}
.text_input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #444444;
    border: 2px solid black;
}
.text_input_label{
    font-weight: bolder;
    font-size: 20px;
}
#submit_form{
    background-color: rgb(0, 92, 0);
}
#submit_form:hover{
    background-color: rgb(1, 107, 1);
}
#errlog{
    color: rgb(160, 0, 0);
}